* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.815);
}
/* Estilo para el encabezado */
header {
  background-color: gray;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  color: white;
}
header iconify-icon{
  font-size: 40px;
}
/* Estilo General para el contenido */
main {
  background-color:gray;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
  border-radius: 10px;
}
/* Div contenedor de las funcionalidades de buscar */
.buscarPorcodigo{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
/* Estilos barra de buscar */
.barraBuscar{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.buscarPorcodigo input{
  border: none;
  outline: none;
  width: 70%;
  height: 30px;
}
.btnCodIsbn{
  background-color: white;
  width: 10%;
  height: 30px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
}
/* Estilos para el filtro */  /* Ocultoooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.btnFiltro{
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  width: 10%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 25px;
  cursor: pointer;
}
.categoria{
  background-color: white;
  top: 40px;
  border-radius: 10px;
  display: grid;
  width: 90%;
  height: 15vh;
  grid-template-areas:"ti ti ti"
                      "op1 op2 op3"
                      "bt bt bt";
  gap: 10px;
  display: none;
  transition: all 0.8s;
}
.ti{
  display: grid;
  grid-area: ti;
  place-content: center;
}
.op1{
  grid-area: op1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.op2{
  grid-area: op2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.op3{
  grid-area: op3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.op1 input[type="checkbox"],.op2 input[type="checkbox"],.op3 input[type="checkbox"] {
  transform: scale(0.5); /* Disminuye el tamaño del checkbox en un 50% */
}
.bt{
  display: grid;
  grid-area: bt;
  place-content: center;
  border-radius: 15px;
}
.bt button{
  width: 120px;
}
/* Estilos Ver todos los libros */
.verTodos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  gap: 10px;
}
.todos{
  width: 40%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.todos img{
  border-radius: 10px;
  width: 120px;
  height: 170px;
  box-shadow: 8px -1px 3px 1px rgba(255, 255, 255, 0.562);
  object-fit: cover;
}
/* Estilo parrafo */
.parrafo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color:white;
  width: 95%;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 3px 1px black;
}
.parrafo ol{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  text-align: start;
}
/* Estilo div opciones */
.contentOpciones, .contentConsulta{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: black;
}
.opciones, .consulta{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.prestar,.devolver, .prestados, .disponibles{
  width:160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-radius: 10px;
  padding: 10px 0px;
  background-color: white;
  box-shadow: 0px 0px 3px 1px black;
  margin-inline: 20px;

}
.prestar input,.devolver input{
  text-align: center;
  width:50px;
}
.prestar button,.devolver button,.prestados button, .disponibles button{
  width: 80px;
}
.rtaOpciones{
  text-align: center;
  color: white;
}
.rtaConsulta{
  color: white;
}

@media (width > 800px){
/* Estilos barra de buscar */
.barraBuscar{
  height: 60px;
}
.buscarPorcodigo input{
  height: 50px;
}
.btnCodIsbn{
  height: 50px;
}
.btnFiltro{
  height: 50px;
}
/* Estilos Ver todos los libros */
.todos{
  width: 30%;
}
.todos img{
  width: 200px;
  height: 280px;
}
/* Estilo parrafo */
.parrafo{
  height: 150px;
}
/* Estilo div opciones */
.prestar,.devolver, .prestados, .disponibles{
  width:300px;
  height: 120px;
}
}
@media (width > 1200px){
/* Estilos Ver todos los libros */
.todos img{
  width: 200px;
  height: 300px;
}
}
@media (width > 1400px){
/* Estilos Ver todos los libros */
.todos{
  width: 20%;
}
.todos img{
  width: 200px;
  height: 300px;
}
}